{% extends "bootstrap/base.html" %}
{% block title %}Index{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<h1>Hello</h1>
<form action="{{ url_for('logout') }}" class="form-group" method="post">
    <button>Log Out</button>
</form>
<h2>Search for a book to give review</h2>
<form action="{{ url_for('search') }}" class="form-group" method="post">
    <h2>Select how you want to search</h2>
    <select name="book_opt" id="book_opt">
        <option value="1">Title</option>
        <option value="2">isbn</option>
        <option value="3">Author</option>
    </select><br />
    <input name="search" placeholder="Search..." required type="text"/>
    <button type="submit">search</button>
</form>
{% endblock %}