<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="{{ url_for('index') }}" method="post">
    <div>
        <input class="form-control" name="username" placeholder="Enter Username "/><br/>
        <input class="form-control" name="password" placeholder="Enter Password"/><br/>
        <button type="submit">Submit</button>
    </div>
</form>
<form action="{{ url_for('signup') }}" method="post">
    <button type="submit">Register </button>
</form>
{% if login_error == True %}
<h2>Wrong Username or Password</h2>
{% endif %}
</body>
</html>