{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<form class="form-group" action="{{ url_for('index') }}" method="post" style="margin-top: 20px">
    <div>
        <input type="text" class="form-control" name="username" placeholder="Enter Username" required /><br/>
        <input type="password" class="form-control" name="password" placeholder="Enter Password" required /><br/>
        <button type="submit">Submit</button>
    </div>
</form>
<form class="form-group" action="{{ url_for('signup') }}" method="post">
    <button type="submit">Register </button>
</form>
{% if login_error == True %}
<h2>Wrong Username or Password</h2>
{% endif %}

{% endblock %}