{% extends "bootstrap/base.html" %}
{% block title %}Sign Up{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<form action="{{ url_for('signupsuccess') }}" class="form-group" method="post" style="margin-top: 20px">
    <div>
        <input class="form-control" name="username" placeholder="Enter Username" required/><br/>
        <input class="form-control" name="email" placeholder="Enter Email" required type="email"/><br/>
        <input class="form-control" name="password" placeholder="Enter Password" required type="password"/><br/>
        <button type="submit">Submit</button>
    </div>
</form>
{% if signup_error == True %}
<h2>{{ message }}</h2>
{% endif %}
{% endblock %}
